.card {
  margin-bottom: 2em;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card:hover {
  box-shadow: 2px 2px #333;
}

.card li {
    list-style-type: none;
}

.card h3 {
  font-weight: 600;
  text-shadow: .5px .5px #999;
  color: #555;
}

.meta {
  font-size: .75em;
  font-weight: 200;
}
