<div class="container">
  <div class="row">
    <a [routerLink]="['/login']">Logout</a>
    <p>Select an option</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a (click)="updateSection('clubs')" class="btn">
        <h2>Posts</h2>
      </a>
    </div>
    <div class="col-md-6">
      <a (click)="updateSection('subs')" class="btn">
        <h2>Users</h2>
      </a>
    </div>
  </div>
  <ng-container *ngIf="currentSection == 'posts'">
    <div *ngFor="let post of sectionData">
      <div class="card">
        <h3>{{ post.title | uppercase}}</h3>
        <span class="meta">By User {{ post.userId}}, Post ID: {{ post.id}}</span>
        <p>{{ post.body}}</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="currentSection == 'users' &&sectionData">
    <div *ngFor="let user of sectionData">
      <div class="card">
        <ul>
          <li><b>Name</b>: {{ user?.name | uppercase }}</li>
          <li><b>ID</b>: {{ user?.id }}</li>
          <li><b>Username</b>: {{ user?.username }}</li>
          <li><b>Email</b>: {{ user?.email }}</li>
          <li class="card-address">
            <b>Street</b>: {{ user?.address?.street }}
            <br>
            <b>Suite</b>: {{ user?.address?.suite }}
            <br>
            <b>City</b>: {{ user?.address?.city }}
            <br>
            <b>Zipcode</b>: {{ user?.address?.zipcode }}
            <br>
            <b>Lat</b>: {{ user?.address?.geo?.lat }}
            <br>
            <b>Long</b>:{{ user?.address?.geo?.lng }}
            <br>
          </li>
          <li><b>Phone</b>: {{ user?.phone }}</li>
          <li><b>Website</b>:{{ user?.website }}</li>
          <li><b>Company</b></li>
          <li><b>name</b>: {{ user?.company?.name }}</li>
          <li><b>catchPhrase</b>: {{ user?.company?.catchPhrase }}</li>
          <li><b>Business:</b> {{ user?.company?.bs}}</li>
        </ul>
      </div>
    </div>
  </ng-container>

</div>
